body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 0 40PX 0;
}
.display-4{
    color: #808080 ;
}

/* carrusel */

.carousel-inner img {
    width: 100%;
    max-height: 100%;
}

.carousel-inner{
 height: 600px;
 max-height: 100%;
}

/* columnas */
.container{
    padding-top: 3rem ;
}

.col01 p{
    background: #11e7a7;
    color: #41463D;
    border-radius: 30px;
    padding: 20px;
    text-align: justify;
}
.col02 p{
    background: #B8CDF8;
    color: #41463D;;
    border-radius: 30px;
    padding: 20px;
    text-align: justify;
}
.col03 p{
    background: #9D6DF1;
    color: #41463D;;
    border-radius: 30px;
    padding: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}